@import "tailwindcss";


:root {
    font-family: inter, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@layer base {

    input,
    select,
    textarea {
        @apply border-none outline-none shadow-none bg-white;
    }

    input:focus,
    select:focus,
    textarea:focus {
        @apply border-none outline-none shadow-none;
    }
}


@theme {
    --color-primary: #0f2854;
    --color-secondary: #2563EB;
    --color-secondary: '#727272',
        --color-highlight: '#bde8f5',
        --color-accent: '#6f819b',
        --color-white: '#ffffff',
        --color-bg-light: '#f9fafb',
}